<div class="container">
  <as-split direction="horizontal">
    <as-split-area [size]="40" style="padding: 10px; overflow-y: scroll; display: flex; flex-direction: column; gap: 10px">
      <input #ifcUpload type="file" (change)="onModelUpload($event)" style="display:none" accept=".ifc">
      <button mat-raised-button (click)="ifcUpload.click()">Upload IFC</button>  

      <button mat-raised-button *ngIf="fileUploaded" (click)="spacesClicked = true">Calculate Glass to Floor Ratio</button>  
      
      <div class="table" *ngIf="gfr.length">
        <div class="header" *ngIf="spacesClicked">
              <div class="cell">Space Name</div>
              <div class="cell">Glass to Floor Percent</div>
        </div>
      <div *ngIf="spacesClicked">
        <app-glass-floor-ratio *ngFor="let ratio of gfr" [gfrData]="ratio"></app-glass-floor-ratio>
      </div>
    </div>

     <button mat-raised-button *ngIf="receivedResults" (click)="exportResult($event)">Download Results</button>  
    </as-split-area>
    
    <as-split-area [size]="60" style="position: relative; overflow: hidden;">
      <div *ngIf="receivedResults" style="display: flex; justify-content: space-around">
        <form action="/action_page.php">
          <fieldset>
           <legend>Compliance with the Building Regulations:</legend>
           <label for="fname">The room has a glass to floor percent BELOW 10: </label>
           <input type="text" style=" height: 20px; width: 20px; background-color: red;"><br><br>
          
          <label for="fname">The room has a glass to floor percent ABOVE 10: </label>
           <input type="text" style=" height: 20px; width: 20px; background-color: green;"><br><br>
          </fieldset>
         </form>
      </div>
      <ifc-viewer [settings]="modelViewerSettings"></ifc-viewer>

    </as-split-area>
  </as-split>
</div>