

<div class="row" *ngIf="gfrData" (click)="getGRF(gfrData.spaceURI, gfrData.pct)">
    <div class="cell">{{gfrData.spaceName}}</div>
    <div class="cell">{{gfrData.pct}}  </div>
    </div>  

    <!-- Expand panel -->
<div class="expand-panel"  *ngIf="expanded">
    <div> Rumnavn: {{gfrData?.spaceName| json}}</div>
    <div> Rumtype: {{gfrData?.spaceLabel| json}}</div> 
    <div> Rum URI: {{gfrData?.spaceURI| json}}</div>  
    <div> Gulv areal: {{gfrData?.floorArea| json}} m2</div>
    <div> Glas areal: {{gfrData?.windowArea| json}} m2</div>
    <div> Procent: {{gfrData?.pct| json}}</div>  
</div>






